[submodule "home/browser/firefox-compact-ui"]
	path = home/browser/firefox-compact-ui
	url = git@github.com:MapoMagpie/firefox-compact-ui.git
[submodule "home/firefox/rime"]
	path = home/firefox/rime
	url = git@github.com:MapoMagpie/rime-xkjd6-private.git
