# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
  { on = ["j"],       run = "arrow 1",             desc = "Go to next" },
  { on = ["k"],       run = "arrow -1",            desc = "Go to prev" },
  { on = ["g", "g"],  run = "arrow top",           desc = "Go to top" },
  { on = ["g", "e"],  run = "arrow bot",           desc = "Go to bottom" },
  { on = "<Space>",   run = ["toggle", "arrow 1"], desc = "Toggle files" },
  { on = "f",         run = "plugin fzfd",         desc = "Jump to a directory, or reveal a file using fzf" },
  { on = "F",         run = "filter",              desc = "Filter files" },
  { on = "<C-g>",     run = "plugin dragon",       desc = "Drag and drop selected files" },
  { on = "q",         run = "close",               desc = "Close the current tab, or quit if it's last" },
  { on = "<C-w>",     run = "tasks:show",          desc = "Show task manager" },
  { on = ["g", "r"],  run = '''
shell -- ya emit reveal $(basename $(cat /tmp/yazi-cut.txt))
''',                                               desc = "Paste files (follow)" },
  { on = "x",         run = [
  '''
shell -- echo "$0" > /tmp/yazi-cut.txt
''',
  "yank --cut"
  ],                                               desc = "Yank selected files (cut)" },
  { on = "w",         run = '''
shell --block  -- FX="$@" zsh
''',                                             desc = "Open Nested Shell(zsh)" },
]
