input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
        }
        repeat-delay 400
        repeat-rate 50
        track-layout "global"
    }
    touchpad {
        tap
        natural-scroll
        accel-speed 0.000000
    }
    mouse { accel-speed 0.000000; }
    trackpoint { accel-speed 0.000000; }
    trackball { accel-speed 0.000000; }
    tablet
    touch
    // focus-follows-mouse
    // warp-mouse-to-focus
}
output "DP-3" {
    transform "normal"
    position x=900 y=0
    mode "2560x1440@144.000000"
}
output "HDMI-A-1" {
    transform "90"
    position x=0 y=0
    mode "1440x900@59.887000"
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
hotkey-overlay
environment {
    DISPLAY ":0"
    EDITOR "hx"
    "QT_QPA_PLATFORM" "wayland"
    TERMINAL "kitty"
}

// workspaces
workspace "NETW" { open-on-output "DP-3"; }
workspace "CODE" { open-on-output "DP-3"; }
workspace "CHAT" { open-on-output "DP-3"; }
workspace "GAME" { open-on-output "DP-3"; }
workspace "EXTE" { open-on-output "HDMI-A-1"; }

// startup
spawn-at-startup "quickshell"
spawn-at-startup "swww-daemon"
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent"
spawn-at-startup "xwayland-satellite"

// overview
overview {
    zoom 0.6
    backdrop-color "#11131a"
    workspace-shadow {
        off
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000050"
    }
}
// Disable opening overview when swiping over screen corners
gestures {
    hot-corners {
        off
    }
}

layout {
    gaps 1
    struts {
        left 5
        right 5
        top 5
        bottom 4
    }
    focus-ring {
        width 2
        active-color "#adc6ff"
    }
    border { off; }
    insert-hint { color "#adc6ff"; }
    default-column-width
    preset-column-widths {
        proportion 0.333333
        proportion 0.500000
        proportion 0.666667
        proportion 1.000000
    }
    preset-window-heights {
        proportion 0.333333
        proportion 0.500000
        proportion 0.666667
        proportion 1.000000
    }
    center-focused-column "never"
}
cursor {
    xcursor-theme "default"
    xcursor-size 24
}

binds {
    Mod+Shift+Q { quit; }
    Mod+W hotkey-overlay-title="Toggle Overview" { toggle-overview; }
    // focus workspaces
    Mod+Grave           { focus-workspace "EXTE";                   }
    Mod+1               { focus-workspace "NETW";                   }
    Mod+2               { focus-workspace "CODE";                   }
    Mod+3               { focus-workspace "CHAT";                   }
    Mod+4               { focus-workspace "GAME";                   }
    Mod+5               { focus-workspace "TEMP";                   }

    // move window to workspace
    Mod+Shift+Grave     { move-window-to-workspace "EXTE";          }
    Mod+Shift+1         { move-window-to-workspace "NETW";          }
    Mod+Shift+2         { move-window-to-workspace "CODE";          }
    Mod+Shift+3         { move-window-to-workspace "CHAT";          }
    Mod+Shift+4         { move-window-to-workspace "GAME";          }
    Mod+Shift+5         { move-window-to-workspace "TEMP";          }

    // adjust window
    Mod+R               { switch-preset-column-width;               }
    Mod+Alt+R           { switch-preset-window-height;              }
    Mod+Alt+O           { reset-window-height;                      }
    Mod+Alt+H           { set-window-width "-10%";                  }
    Mod+Alt+J           { set-window-height "+10%";                 }
    Mod+Alt+K           { set-window-height "-10%";                 }
    Mod+Alt+L           { set-window-width "+10%";                  }
    Mod+F               { maximize-column;                          }
    Mod+G               { center-column;                            }
    Mod+Q               { close-window;                             }
    Mod+T               { toggle-window-floating;                   }
    Mod+Shift+T         { switch-focus-between-floating-and-tiling; }

    // focus window
    Mod+H               { focus-column-left;                        }
    Mod+J               { focus-window-down;                        }
    Mod+K               { focus-window-up;                          }
    Mod+L               { focus-column-right;                       }
    Mod+Shift+H         { move-column-left;                         }
    Mod+Shift+J         { move-window-down;                         }
    Mod+Shift+K         { move-window-up;                           }
    Mod+Shift+L         { move-column-right;                        }
    Mod+Shift+O         { swap-window-left;                         }
    Mod+Shift+P         { swap-window-right;                        }
    Mod+Shift+I         { consume-or-expel-window-right;            }
    Mod+Shift+U         { consume-or-expel-window-left;             }
    Mod+WheelScrollDown { focus-window-down-or-column-right;        }
    Mod+WheelScrollUp   { focus-window-up-or-column-left;           }
    Mod+D               { toggle-debug-tint;                        }

    Mod+Shift+Slash     { show-hotkey-overlay;                      }

    Mod+Return  hotkey-overlay-title="Open Terminal"             {
        spawn "kitty";
    }
    Mod+Space   hotkey-overlay-title="Open Launcher"             {
        spawn "fuzzel";
    }
    Mod+S       hotkey-overlay-title="Slurp Geometry"            {
        spawn "sh" "-c" "slurp > /tmp/geometry && notify-send \"$(cat /tmp/geometry)\"";
    }
    Mod+Shift+E hotkey-overlay-title="Record Screen"             {
        spawn "sh" "-c" "notify-send \"wf-recorder started\" && qs ipc call recording setStatus true && wf-recorder --audio -g \"$(cat /tmp/geometry)\" -r 60 -f ~/Videos/screenshots/rec_$(date +\"%Y%m%d_%H%M%S\").mp4 && notify-send \"wf-recorder done\"";
    }
    Mod+Alt+E   hotkey-overlay-title="Stop Record Screen"        {
        spawn "sh" "-c" "killall -INT wf-recorder";
    }
    Mod+Shift+S hotkey-overlay-title="Screenshot After 3 Second" {
        spawn "sh" "-c" "sleep 3 && grim -g \"$(cat /tmp/geometry)\" ~/Pictures/screenshots/grim_$(date +\"%Y%m%d_%H%M%S\").png && notify-send \"Screenshot Done\"";
    }
    Mod+Ctrl+S  hotkey-overlay-title="Pin the last screenshot"   {
        spawn "sh" "-c" "cat /tmp/geometry | sd 'x' ',' | xargs -I{} swayimg -a pinimg -p {} -w {} ~/Pictures/screenshots/$(ls -t ~/Pictures/screenshots | head -n 1)";
    }
    Mod+M       hotkey-overlay-title="Power Menu"                {
        spawn "sh" "-c" "~/nixos/home/misc/scripts/shutdown_reboot_lock.sh";
    }
    Mod+V       hotkey-overlay-title="Show Clip History"         {
        spawn "sh" "-c" "cliphist list | fuzzel -d | cliphist decode | wl-copy";
    }
    Mod+I       hotkey-overlay-title="Toggle Rime Ascii Mode"    {
        spawn "sh" "-c" "~/nixos/home/misc/scripts/setrimeasciimode.sh";
    }
    Mod+Shift+W hotkey-overlay-title="Show All Windows"          {
        spawn "sh" "-c" "niri msg windows | ~/nixos/home/misc/scripts/merge_window_info.sh | fuzzel -d | cut -d '/' -f1 | xargs -I {} niri msg action focus-window --id {}";
    }
}

// rules
window-rule {
    match app-id="kitty"
    match app-id="^swayimg$"
    match app-id="^showmethekey-gtk$"
    draw-border-with-background false
}
window-rule {
    match app-id="^xdragon$"
    open-floating true
    open-focused false
    default-floating-position relative-to="bottom-left" x=10 y=10
}
window-rule {
    match app-id="^showmethekey-gtk$"
    default-column-width { proportion 0.156250; }
    default-window-height { proportion 0.055556; }
    open-floating true
    open-focused false
    default-floating-position relative-to="bottom-left" x=10 y=10
}
window-rule {
    match app-id="^swayimg$"
    default-column-width { proportion 1.000000; }
    default-window-height { proportion 1.000000; }
    open-floating true
}
window-rule {
    match app-id="^firefox$" title="Picture-in-Picture"
    match app-id="^mpv$"
    default-column-width { proportion 0.300000; }
    default-window-height { proportion 0.300000; }
    open-floating true
    default-floating-position relative-to="bottom-right" x=10 y=10
}
window-rule {
    match app-id="pinimg"
    open-floating true
}
window-rule {
    match app-id="^firefox$" title="^$"
    default-column-width { proportion 0.400000; }
    default-window-height { proportion 0.500000; }
    open-floating true
    default-floating-position relative-to="bottom-right" x=10 y=10
}
window-rule {
    match app-id="^firefox$"
    match app-id="Minecraft"
    match app-id="^org.telegram.desktop$"
    exclude title="Picture-in-Picture"
    default-column-width { proportion 1.000000; }
}
window-rule {
    match app-id="kitty$"
    default-column-width { proportion 0.500000; }
}
window-rule {
    match app-id="^steam_app_[0-9]+"
    open-fullscreen true
}
window-rule {
    match app-id="^firefox$"
    match app-id="^chromium-browser$"
    open-on-workspace "NETW"
}
window-rule {
    match app-id="kitty$"
    open-on-workspace "CODE"
}
window-rule {
    match app-id="kitty.yazi.filechooser"
    match app-id="^org.telegram.desktop$" title="Choose Files"
    open-floating true
    default-column-width { proportion 0.600000; }
    default-window-height { proportion 0.500000; }
    default-floating-position relative-to="bottom-right" x=10 y=10
}
window-rule {
    match app-id="kitty.btop"
    open-floating true
    default-column-width { proportion 0.600000; }
    default-window-height { proportion 0.500000; }
    default-floating-position relative-to="top-right" x=20 y=20
}
window-rule {
    match app-id="^org.telegram.desktop$"
    open-on-workspace "CHAT"
}
window-rule {
    match app-id="^steam_app.*$"
    match app-id="^steam$"
    match app-id="PrismLauncher$"
    match app-id="Minecraft"
    open-on-workspace "GAME"
}
animations { slowdown 1.000000; }
